Adafruit_DHT==1.4.0
Flask==2.3.2
keras==2.9.0
keras_nightly==2.10.0.dev2022072107
numpy==1.20.2
paho_mqtt==1.6.1
pandas==1.2.3
pymongo==3.11.2
python-dotenv==0.20.0
requests==2.25.1
scikit_learn==1.1.1
statsmodels==0.13.2
